.btn-div {
  display: flex;
  justify-content: center;
}

#form-btn {
  padding: 1rem;
  text-align: center;
  outline: none;
  border: none;
  color: #fff;
  background-color: #8827f7;
  border-radius: 0.25rem;
  box-shadow: 0 6px #4c1c83;
  margin: 1rem;
  font-size: 1.4rem;
}

#form-btn:hover {
  background-color: #7020ca;
}

#form-btn:active {
  background-color: #7020ca;
  box-shadow: 0 3px #301253;
  transform: translateY(3px);
}

.label {
  color: white;
  font-size: 1.4rem;
}
