.footer {
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 0;
  justify-content: center;
}

.copyright {
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
}

.copyright:hover {
  text-decoration: none;
  color: rgb(165, 165, 165);
}
