.sidebar {
  min-width: 28rem;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
}

.credit {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-dark-2);
  color: var(--color-grey-dark-4);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  height: 5rem;
  max-height: 5rem;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    flex: 1;
    max-width: unset;
  }
}
