:root {
  --gradientBackground: linear-gradient(92deg, #15002b, #1d003c, #2c005b);
  --color-primary: #8827f7;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "pixel";
  src: url(./Retro\ Gaming.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "pixel";
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: var(--color-primary);
}

body {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 0;
  background: var(--color-primary);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8827f73a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8827f779;
}
