:root {
  --color-primary-light: #7700ff;
  --color-primary: #6a00e4;
  --color-primary-dark: #5400b4;

  --color-grey-light-1: #e1e1e1;
  --color-grey-light-2: rgb(217, 217, 217);
  --color-grey-light-3: rgb(209, 209, 209);

  --color-grey-dark-1: #222;
  --color-grey-dark-2: #333;
  --color-grey-dark-3: #666;
  --color-grey-dark-4: #888;

  --color-grey-transparent: rgba(102, 102, 102, 0.75);

  --color-gradient-1: #7700ff;
  --color-gradient-2: #00ffea;
  --color-gradient-3: #9afff7;

  --color-red: rgb(255, 36, 29);

  --color-transparent-dark: rgba(0, 0, 0, 0.3);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "pixel";
  src: url(./Retro\ Gaming.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "pixel";
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "pixel";
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-grey-dark-4);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 0;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-dark-2);
}
